Teoria wielkiego podrywu s07e02 sezon 7 odcinek 2 The Deception Verification
=============
[![Teoria wielkiego podrywu s07e02 sezon 7 odcinek 2 The Deception Verification](http://vidos.pl/images/player.gif)](http://vidos.pl/teoria-wielkiego-podrywu-s07e02-sezon-7-odcinek-2-the-deception-verification)

 Dla Leonarda i Sheldona nie ma tajemnic w naukach ścisłych czy grach komputerowych. W relacjach damsko-męskich nie radzą sobie w ogóle.
